__pycache__/
*.pyc
.DS_Store
PTUs/
*.lif
*.ptu
*.xlsx
*.log
*.tif
*.tiff
flim9.py
*.png
flim_tests/
tests.txt
share.sh
.coverage
htmlcov/
.pytest_cache/
*.lof
*.xlif
Results/
.vscode/
*.npy
*.npz
*.ipynb_checkpoints